# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv
venv/
env/

# IDE
.idea/
.vscode/
.cursor/

# OS
.DS_Store

# UV
# uv.lock

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Partial downloads (driver-search --download)
*.part
